html, body {
    width: 100vw;
}

body{
  font-family: 'Jost', sans-serif;
}

li{
    margin: auto 10px;
}

.container-fluid{
    padding:0 100px;
}

h1{
    text-align: center;
    margin-top: 100px;
    font-family: 'Satisfy', cursive;
    font-size: 60px;
    font-weight: 400;
    color: black;

}

h2{
    font-family: 'Jost', sans-serif;
    font-size: 60px;
    font-weight: 600;
    font-style: italic;
}

h3{
    font-family: 'Jost', sans-serif;
    line-height: 1.8;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    padding-top: 80px;
}

p{
    font-family: 'Jost', sans-serif;
    line-height: 1.5;
    font-size: 17px;
    font-weight: bolder;
    margin-bottom: 0;
}

button{
    margin: 0%;
}

footer{
    text-align: center;
    background-color: #BB00FF;
    margin-bottom: 0;
}


.carousel-item{
    padding: 0%;
}

.carousel{
    text-align: center;
    align-items: center;
    padding: 0%;
    background-color: #ce47ff;
    margin: 30px 50px;
}

.col{
    text-align: center;
}

#topo{
    position: relative;
    background-image: url(fotos/taxi7.jpg);
    display: block;
    margin-top: 30px;
    background-size: cover;
}

#stripes{
    background-image: url(fotos/taxi-stripe.jpg);
    height: 100px;
    width: 100%;
    left: 0px;
    max-width: 100%;
}

#curitiba-taxi{
    position: relative;
    top:0;
    margin-left: auto;
    margin-right: auto;
    border-radius:30px;
    scale: 0.6;
    margin-top: 0;
}

#sobre{
    background-color: #00ffbb;
    padding-bottom: 60px;
}

#conteudo-sobre{

    margin-top: 0;
    align-items: center;
    background-color: #2ad5a2;
}

#titulo-sobre{
    text-align: center;
    margin: 30px auto 20px;
}

#texto-sobre{
    text-align: center;
    margin: 80px auto;
}

#contato{
    margin-bottom: 55px;
}

.titulo{
    padding: 110px 10px 70px;
    text-align: center;
    color: white;
}

#roteiros{
    background-color: #BB00FF;
    padding-top: 30px;
    padding-bottom: 50px;
    text-align: center;
    align-items: center;
}


#carrousel-img{
    position: relative;
    align-items: center;
    padding: 0%;
    margin-top: 0%;
    margin-bottom: 50px;
    border-radius: 30px;
    width: 500px;
    height: 400px;
}



@media (max-width: 600px){

    h2{
        padding:0 20px;
    }

    h3{
        padding-top: 0px;
    }

    p{
        padding-bottom: 30px;
    }
    .carousel-item{
        text-align: center;
        align-items: center;
    }

    .carrousel-item{
        padding-bottom: 0;
    }
    #carrousel-img{
        border-radius: 0px;
        align-items: center;
        width: 300px;
        height: 320px;
        padding-top: 40px;
        padding-left: 25px;
        padding-bottom: 0;
    }

    #paragrafo{
        text-align:left;
        text-justify: inter-word;
    }

    #stripes{
        left:0px;
        width: 100vp;
    }
}
